* {
font-family: "JetBrainsMono Nerd Font";
font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

/* All the main pills - Add #custom-notification here */
#custom-startmenu,
#workspaces,
#taskbar,
#tray,
#custom-notification,  /* <--- Add this line */
#pulseaudio,
#battery,
#clock,
#custom-power {
background-color: #1e1e2e;
color: #cdd6f4;
padding: 0 12px;
margin: 4px 4px;
border-radius: 12px;
border: 1px solid #45475a;
}

/* Then add a specific color for the icon so it isn't boring white */
#custom-notification {
color: #6495ED;
}

/* THE MERGED PILL - Network (Left side) */
#network {
background-color: #1e1e2e;
color: #6495ED;
border: 1px solid #45475a;
border-right: none;
border-radius: 12px 0 0 12px;
margin: 4px 0 4px 4px; /* No right margin */
padding: 0 5px 0 12px;
}


#custom-bluetooth {
background-color: #1e1e2e;
color: #cba6f7;
border: 1px solid #45475a;
border-left: none;
border-radius: 0 12px 12px 0;
margin: 4px 4px 4px 0; /* No left margin */
padding: 0 12px 0 5px;
}


#custom-startmenu { color: #6495ED; font-size: 16px; }
#clock { color: #6495ED; font-weight: bold; }
#custom-power { color: #2a52be; }
#workspaces button.active { color: #cba6f7; }
